#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 350%;
    color: gold;
    /* display:block */
    
}

body{
    background-color: red;
}

#navBar{
  
    text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    /* font-size: 125%; */
    color: gold;
}

#searchBar{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 25px;

}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 25%; 
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #movieList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #movieList{
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  


#introP{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    text-decoration: underline;
}

#countDown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    /* size: 75%; */
  }

  #filmStrip {
    width: 10%;
    height: 10%;
    float: left;
    padding-bottom: 50px;
  }

  #goodfellas{
      float:left;
      padding-left: 250px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: gold;
  }

  #onceuponatimeinhollywood{
    float: right;
    padding-right: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
  }

